@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
*{
  margin: 0;
  padding: 0;
}
#banner{
  background-image: url('https://image.tmdb.org/t/p/original/8sMmAmN2x7mBiNKEX2o0aOTozEB.jpg');
  /*background-image: url('https://images.wallpapersden.com/image/download/black-panther-wakanda-forever-banner_bWxqZmqUmZqaraWkpJRpbmdprWZuZ2U.jpg');*/
  background-position: 50% 50%;
  background-size:cover;
  width: 100%;
  height:750px;
}
p{
  color: #fff;
  font-family:'Kdam Thmor Pro',sans-serif ;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  font-size: 20px;
  font-family:'Kdam Thmor Pro',sans-serif ;
}

.content-container {
  height: 830px;
  background-color: #333;
} 
.profile-container{
  color: #333;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat:repeat;
  background-size: cover;
  grid-template-columns:repeat(4, 1fr);
}
.profile-content{
  grid-template-columns:repeat(4, 1fr);
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  font-size: 20px;
}
.profile-cards{
  display: flex;
  grid-template-columns:repeat(4, 1fr);
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 400px;
  background:black;
  padding: 30px;
  border-radius: 8px;
  border: 2px solid yellow;
}
.profile-content .profile-cards .silvia{
  margin-top: 10px;
  width: 100px;
  height:auto;
  border-radius: 50%;
  border: 1px solid #D870DB;
  background-color: #fff;

}
.profile-content .profile-cards .cinzas{
  margin-top: 10px;
  width: 100px;
  height:auto;
  border-radius: 50%;
  border: 1px solid #D870DB;
  background-color: #fff;

}
.profile-content .profile-cards .mello{
  margin-top: 10px;
  width: 100px;
  height:auto;
  border-radius: 50%;
  border: 1px solid #D870DB;
  background-color: #fff;

}
.profile-content .profile-cards .souza{
  margin-top: 10px;
  width: 100px;
  height:auto;
  border-radius: 50%;
  border: 1px solid #D870DB;
  background-color: #fff;

}

.nome-text{
  font-family:'Kdam Thmor Pro',sans-serif  ;
  font-size: 15px;
  margin-top: 15px;
}
.profile-text{
  height: auto;
  font-family: 'Kdam Thmor Pro',sans-serif ;
  font-size: 13px;
  text-align: center;
  width: 80%;
  margin-top: 10px;
}

#logo{
  max-width: 90px;
  height: auto;
}
footer{
  height: 300px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
span{
  color: #fff;
  font-family:'Kdam Thmor Pro',sans-serif ;
  

}
.footer-navigation{
  display: none;
  
}
.footer-list{
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media(max-width:768px){
  #Banner{
    background-position: 40%;
  }
  .footer-navigation{
    display: block;
    display: flex;
    
  }
  
  nav{
    display: none;
  }
  .content-container{
    margin-top: 150px;
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .profile-container{
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .profile-cards{
    display: flex;
    align-items: center;
  }
  .nome-text{
    text-align: center;
  }
  span{
    text-align: center;
    display: flex;
  }
  
  span{
    width: 100%;
  }

}

